* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  max-width: 490px;
}

 body {
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-color: whitesmoke;
  user-select: none;
  max-width: 96%;
  margin-bottom: 1rem;;
}

h1 {
   color: #32CD32;
   margin: 0;
   font-family: "Big Shoulders Display", serif;
   font-size: 45px;
} 

h2 {
    color: #fff;
    font-size: 12px;
}

#header-container {
    background-image: url("assets/worldmap.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

#header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    font-weight: 600;
}

#parrot-img {
    max-width: 95px;
    margin-right: 0;
}

#language-selection {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.language-option {
    width: 50px;
    height: 35px;
    cursor: pointer;
    border: 1.5px solid #999;
    transition: 0.1s;
}

.language-option:hover {
    border: 3px solid #035A9D
}

.selected {
    border: 3px solid #035A9D;
}

#chat-container {
    border: 4px solid #252F42;
    border-radius: 15px;
    background-color: #fff;
    margin-top: .5em;
    padding: .5em;
}

#textToTranslate {
    border-radius: 10px;
    background: #F5F5F5;
    border: 2px solid #586E88;
    margin: 1rem;
    width: 90%;
    padding: 1rem;
    pointer-events: auto;
    padding-right: 4rem;
    font-size: 16px;
}

#input-wrapper {
    position: relative;
}

#sendButton {
    position: absolute;
    right: 2.2rem;
    top: 50%;
    transform: translateY(-45%);
    background: transparent;
    border: none;
    align-self: center;
    }

#sendButton:hover {
    cursor: pointer;
}

#chat-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6px;
    height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #fff;
}

.message {
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1px;
    line-height: 1.4rem;
    word-wrap: break-word;
    
}

.user-message {
    align-self: flex-end;
    background: #65DA65;
    color: #252F42;
    border-bottom-left-radius: 2px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 80%;
}

.bot-message {
    align-self: flex-start;
    background: #035A9D;
    color: white;
    border-top-right-radius: 1px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 80%;
}

#instruction-message {
     align-self: flex-start;
    background: #035A9D;
    color: white;
    border-top-right-radius: 1px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 80%;;
}

.user-message::after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 12px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 16px 14px;
    box-shadow: 2px 2px 0 0 #65DA65;
}

.bot-message::after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 12px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 16px 14px;
}
